body{
background-color: #ebebeb;
}
.headcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    justify-self: center;
    box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.316);

    
}

.container-fluid {
    background-color: #91919100;
}

#navebar {
    opacity:1;
}
.navbar-brand {
    font-family: farsi;
}


.title-background {

    background: linear-gradient(300deg, #746ee0, #ffffff, #444602);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.containerbg {
background-color: #070431;

}
#gentext {
    color:rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
    font-family: farsi ;
}

#secdelivery > div > div > div {
    border:solid rgba(0, 0, 0, 0.059);
    box-shadow: 12px 2px 15px rgba(0, 0, 0, 0.109);
}

#orderhelp > div.container.my-5.pt-5.pb-5.mb-5 > div {
    border:solid rgba(0, 0, 0, 0.059);
    box-shadow: 12px 2px 15px rgba(0, 0, 0, 0.109);
}

#cntrtitle {
    text-shadow: 2px 1px 8px#ffffff38;
}

@font-face {
    font-family: Nastealiq;
    src: url(./Assets/ReemKufiInk-Regular.ttf);
    
 }
 @font-face {
    font-family: farsi;
    src: url(./Assets/Rubik-Light.ttf);
    
 }
 @font-face {
    font-family: qahiri;
    src: url(./Assets/Alkalami-Regular.ttf);
    
 }
 h1 {
    font-family: qahiri ;
    font-size: 20px;
    color: aliceblue;
 }

 h2 { 
    font-family: farsi ;
    font-size: 2px;
    color: rgb(0, 0, 0);

 }

 h3{
    font-family: qahiri ;
    
 }

 #safesend {

    font-weight: bold;
 }

 p{
    text-align: justify;
 }
 .nav-link {

    color: rgb(0, 0, 0);
    font-family: farsi ;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: justify;
 }


 #logo {
    border-radius: 50%;
 }


#comment > * {
    font-family: farsi ;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: justify;
    
}

.btn {
    font-family: farsi ;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: justify;
    
}

#instabtn:hover {
    background-color:rgba(109, 109, 233, 0.57) ;
}

.btn a:hover {
    
    
    color: rgb(68, 0, 255);
    
}

.dropdown-menu {
    text-align: right;
    align-items: right;
    /* border:none;
    background-color: #6a6a6a00; */
}

.headcontainer {
    background-color: #ffffff90;
    border-radius: 5px;
    width: 100%;
}


#secdeliverylogo {
    float: right;
    padding-top: 50px;
}



@media (max-width: 600px) {
    .col-sm-8 h2 {
        font-size: 1.5rem !important; /* کاهش سایز عنوان */
    }
    .col-sm-8 p {
        font-size: 1rem !important; /* کاهش سایز متن */
    }

    #dlvlogo {
        width: 50px;
    }
}

@media (max-width:768px) {
    .col-sm-8 h2 {
        font-size: 1.5rem !important; /* کاهش سایز عنوان */
    }
    .col-sm-8 p {
        font-size: 1rem !important; /* کاهش سایز متن */
    }

    #dlvlogo {
        width: 80px;
    }
}





/* ///////////////////////////////// */


.carousel-inner {
    /* max-width: 50% !important;
    margin: 200px !important; */
    padding-right: 10% !important;
    padding-left: 10% !important;
    padding-bottom: 200px !important;
    padding-top: 5% !important;
}


.phototitr {
    direction: rtl;
    font-family: farsi;
    justify-items: end;
    background-color: #ffffff69;
    border:none
}

.captionblock {
    justify-items: end;
}

.photocaption {
    direction: rtl;
    font-family: farsi;
    justify-items: end;
    
}

#rotategif {
    width: 35%;
}


